<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <title>AR Holdings</title>
        <meta charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <script th:src="@{/webjars/jqu|ery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>
        
        <header th:fragment="header" class="header">
            <nav  class="navbar navbar-expand-lg navbar-light p-4"  id="menu">
            <div class="container">
              <a class="navbar-brand" href="#">
                  <span class="fs-5 text-primary fw-bold">AR Holdings</span>
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-4 mb-md-0">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="@{/cadena_restaurantes/listado}">Cadena de restaurantes</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="@{/marcas_vestimenta/listado}">Marcas de vestimenta</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="@{/ofertas_empleo/listado}">Ofertas de empleo</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="@{/trabaja_con_nosotros/listado}">Trabaja con nosotros</a>
                  </li>
                </ul>
              </div>

            </div>
          </nav>
            
        </header>
       <section th:fragment="section1" class="w-100">
           <div class="text-center">
                <h3 class="fs-5 mt-4 px-4 pb-1"></h3>
                <p class="px-4">Desarrollamos y operamos franquicias de marcas internacionales</p>
            </div>
           

           <div class="row w-75 justify-content-center align-items-center"id="servicios-fila-1">
              <div class="col-lg-7 col-md-12 col-sm-12 d-flex justify-content-start my-5 icono-wrap">
                <img src="/img/2.png" alt="1"   width="320" height="160" ></img>
                 <img src="/img/3.png" alt="2"   width="320" height="160"></img>
                  <img src="/img/7.png" alt="3"   width="320" height="160"></img>
              </div>
            </div>    
        </section>
        <section th:fragment="section2" class="w-100">
           <div class="text-center">
                <h3 class="fs-5 mt-4 px-4 pb-1"></h3>
                <p class="px-4">Desarrollamos y operamos franquicias de marcas internacionales</p>
            </div>
           

           <div class="row w-75 justify-content-center align-items-center"id="servicios-fila-1">
              <div class="col-lg-3 col-md-6 col-sm-6 d-flex justify-content-start my-5 icono-wrap">
                <img src="/img/10.png" alt="4"   width="200" height="300" ></img>
                 <img src="/img/11.png" alt="5"   width="200" height="300"></img>
                  <img src="/img/12.png" alt="6"   width="200" height="300"></img>
              </div>
            </div>  
            
            
        </section>
        <section th:fragment="section3" class="m-0 vh-50 row justify-content-center align-items-center" >
            <div class="bg-primary col-auto text-center text-lg-start my-5">
            <div class="text-center text-white p-2"  style="background-color: rgba(255, 255, 255, 0);">
                 ¿Te gustaria trabajar con nosotros?
                <div class="col">
                    <a class="btn btn-dark" href="#" role="button">APLICAR AQUI</a>
                </div>
            </div>
            </div>
        </section>
        <footer th:fragment="footer"
                class="bg-light text-center text-lg-start">
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                 &COPY 2020 Copyright:
                <div class="col">
                    <p class="lead text-dark text-center fw-bold">
                        Todo los derechos reservados a AR Holdings</p>
                </div>
            </div>
        </footer>    
        
    </body>
</html>
