<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:fragment="head">
        <title>Ar-Holdings</title>
        <meta charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <script th:src="@{/webjars/jqu|ery/jquery.min.js}"></script>
        <script th:src="@{/js/rutinas.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>

        <header th:fragment="header" class="header">
            <!-- <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0"> -->
                <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #1693a5; /* Reemplaza bg-warning con el color hexadecimal #FFC107 */ p-0">
                <div class="container">
                    <a th:href="@{/}" class="navbar-brand">[[#{aplicacion.titulo}]]</a>
                    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <ul class="navbar-nav" sec:authorize= "hasRole('ROLE_VENDEDOR')">
                            <li class="nav-item px-2"><a class="nav-link" th:href="@{/restaurante/listado}">[[#{plantilla.restaurantes}]]</a></li>
                            <li class="nav-item px-2"><a class="nav-link" th:href="@{/tienda/listado}">[[#{plantilla.tiendas}]]</a></li>                           
                            <li class="nav-item dropdown" sec:authorize= "hasRole('ROLE_ADMIN')">
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a class="dropdown-item" th:href="@{/usuario/listado}">[[#{plantilla.usuarios}]]</a></li>
                                </ul>
                            </li>

                        </ul>
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">[[#{plantilla.idioma}]]</a>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a class="dropdown-item"  th:href="@{/(lang=es)}">ES</a></li>
                                    <li><a class="dropdown-item" th:href="@{/(lang=en)}">EN</a></li>
                                </ul>
                            </li>
                        </ul>

                        <ul class="navbar-nav" sec:authorize="!isAuthenticated()">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/login}">
                                    <i class="fas fa-sign-in-alt"></i>
                                </a>
                            </li>
                        </ul>

                        <ul class="navbar-nav" sec:authorize="isAuthenticated()">
                            <li class="nav-item text-white my-auto">
                                <img th:src='@{${session.imagenUsuario}}'
                                     alt='Imagen del usuario'
                                     height="40"
                                     class='rounded-circle'/>

                                <span sec:authentication='name'>Bob</span>
                            </li>

                            <li class="nav-item">
                                <form method="post" 
                                      th:action="@{/logout}">
                                    <button class='btn btn-dark'>
                                        <i class="fas fa-sign-out-alt"></i>
                                    </button>
                                </form>
                            </li>
                        </ul>

                    </div>
                </div>
            </nav>
            <section id="main-header" class="py-2 text-white" style="background-color:#45b5c4"><!-- class="py-2 bg-success text-white" -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h1><i class="fas fa-cog"></i> [[#{plantilla.su_Ar_holdings}]]</h1>
                        </div>
                    </div>
                </div>
            </section>
        </header>
         <section th:fragment= "elCarrusel" class="bg-dark py-5">
            <div class="container">
                <div class=" fw-bold text-center text-white bg-dark">
                    <h3 class="fs-5 mt-2 px-1 pb-1">Desarrollamos y operamos franquicias de marcas internacionales</h3>

                </div>
                <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner d-flex py-5">
                        <!-- Agrega aquí las imágenes para el carrusel -->
                        <div class="carousel-item active ">
                            <img src="https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cmVzdGF1cmFudHxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80" class="d-block w-100" alt="Imagen 1" style="height: 600px;"></img>  
                        </div>

                        <div class="carousel-item ">
                            <img src="https://images.unsplash.com/photo-1552566626-52f8b828add9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8cmVzdGF1cmFudHxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80" class="d-block w-100" alt="Imagen 2" style="height: 600px;"></img>
                        </div>
                        <div class="carousel-item">
                            <img src="https://images.pexels.com/photos/1850600/pexels-photo-1850600.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-100" alt="Imagen 3" style="height: 600px;"></img>
                        </div>
                        <!-- Puedes agregar más imágenes siguiendo el mismo patrón -->
                    </div>

                    <!-- Controles del carrusel -->
                    <a class="carousel-control-prev" href="#carouselExample" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Anterior</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExample" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Siguiente</span>
                    </a>
                </div>
            </div>
        </section>
        <section th:fragment= "otro" class="bg-dark py-5">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-md-8 col-xl-6 text-center mx-auto">
                        <p class="fw-bold text-success">Contactos</p>
                        <h2 class="fw-bold text-white">Como puedes contactarnos</h2>
                    </div> 
                </div> 
                <div class="row d-flex justify-content-center">
                    <div class="col-md-6 col-xl-4">
                        <div>
                            <form class="p-3 p-xl-4" method="post">
                                <div class="mb-3">
                                    <input id="name-1" class="form-control" type="text" name="name" placeholder="Nombre"></<input>
                                </div>
                                <div class="mb-3">
                                    <input id="email-1" class="form-control" type="email" name="email" placeholder="Email"></<input>
                                </div>
                                <div class="mb-3">
                                    <input id="message-1" class="form-control" name="message" rows="6" placeholder="Mensaje"></<input>
                                </div>
                                <div>
                                    <button class="btn btn-primary shadow d-block w-100" type="submit">Enviar</<button>
                                </div>
                            </form>
                        </div> 
                    </div> 
                </div> 
            </div> 
        </section>  
        <footer th:fragment="footer"
                class="bg-info text-white mt-5 p-2">
            <div class="container">
                <div class="col">
                    <p class="lead text-center">&COPY[[#{plantilla.derechos}]]</p>
                </div>
            </div>
        </footer>      
    </body>
</html>
