<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Ar-Holdings</title>
    </head>
    <body>
        <!-- 1 Sección para crear el boton de agregar... llamará a una ventana modal-->
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3" sec:authorize="hasRole('ROLE_ADMIN')">   
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarTienda">
                            <i class="fas fa-plus"></i> [[#{tienda.agregar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <!-- 2 Fragmento para agregar tienda, es la ventana modal -->
        <section th:fragment="agregarTienda">
            <div id="agregarTienda" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">[[#{tienda.agregar}]]</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/tienda/guardar}" th:object="${tienda}"
                              method="POST" class="was-validated" enctype="multipart/form-data">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <select class="form-select" aria-label="Default select example"
                                            name="categoria.idCategoria">
                                        <option th:each="categoria : ${categorias} "
                                                th:value="${categoria.idCategoria}">[[${categoria.descripcion}]]</option>>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="descripcion">[[#{tienda.descripcion}]]</label>
                                    <input type="text" class="form-control" name="descripcion" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="descripcion">[[#{tienda.detalle}]]</label>
                                    <input type="text" class="form-control" name="detalle" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="descripcion">[[#{tienda.precio}]]</label>
                                    <input type="text" class="form-control" name="precio" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="descripcion">[[#{tienda.existencias}]]</label>
                                    <input type="text" class="form-control" name="existencias" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="activo">[[#{tienda.activo}]]</label>
                                    <input class="form-check-input" type="checkbox" name="activo" id="activo"/>
                                </div>
                                <div class="mb-3">
                                    <label for="imagen">[[#{tienda.Imagen}]]</label>
                                    <input class="form-control" type="file" name="imagenFile" onchange="readURL(this);"/>
                                    <img id="blah" src="#" alt="your image" height="200"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- 3 Sección principal para mostrar la informaccion de la entidad tienda -->
        <section th:fragment="listadoTiendas" id="tiendas">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{tienda.listado}]]</h4>
                            </div>
                            <div th:if="${tiendas != null and !tiendas.empty}">
                                <table class="table table-striped table-hover">
                                    <thead class="table-dark">
                                        <tr><th>#</th>
                                            <th>[[#{tienda.descripcion}]]</th>
                                            <th>[[#{tienda.precio}]]</th>
                                            <th>[[#{tienda.existencias}]]</th>
                                            <th>[[#{tienda.total}]]</th>
                                            <th>[[#{tienda.activo}]]</th>
                                            <th>[[#{tienda.categoria}]]</th>                                          
                                            <th sec:authorize="hasRole('ROLE_ADMIN')"></th></tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="tienda, contador : ${tiendas}">
                                            <td>[[${contador.count}]]</td>
                                            <td>[[${tienda.descripcion}]]</td>
                                            <td>[[${tienda.precio}]]</td>
                                            <td>[[${tienda.existencias}]]</td>
                                            <td>[[${tienda.precio*tienda.existencias}]]</td>
                                            <td th:text="${tienda.activo} ? 'Activa' : 'Inactiva'" /> 
                                            <td>[[${tienda.categoria.descripcion}]]</td>
                                            <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/tienda/eliminar/}+${tienda.idTienda}"
                                                                                         class="btn btn-danger">
                                                    <i class="fas fa-trash"></i> [[#{accion.eliminar}]]</a>
                                                <a th:href="@{/tienda/modificar/}+${tienda.idTienda}"
                                                   class="btn btn-success">
                                                    <i class="fas fa-pencil"></i> [[#{accion.actualizar}]]</a></td></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${tiendas == null or tiendas.empty}">
                                <span>[[#{lista.vacia}]]</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center bg-success text-white mb-3">
                            <div class="card-body">
                                <h3>[[#{tienda.total}]]</h3>
                                <h4 class="fs-2"><i class="fas fa-users"></i> [[${totalTiendas}]]</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- 4 Fragmento que se utiliza en la página modifca.html -->
        <section th:fragment="editarTienda">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST"
                          th:action="@{/tienda/guardar}" 
                          th:object="${tienda}"
                          class="was-validated"                          
                          enctype="multipart/form-data">
                        <input type="hidden" name="idTienda" th:field="*{idTienda}"/>
                        <input type="hidden" name="rutaImagen" th:field="*{rutaImagen}"/>
                        <section th:replace="~{tienda/fragmentos :: botonesEditar}"/>
                        <div id=details>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4>[[#{accion.actualizar}]]</h4>
                                            </div>
                                            <div class="card-body">

                                                <div class="mb-3">
                                                    <select class="form-select" aria-label="Default select example"
                                                            name="idCategoria"
                                                            th:field="*{categoria.idCategoria}">
                                                        <option th:each="categoria : ${categorias} "
                                                                th:value="${categoria.idCategoria}">[[${categoria.descripcion}]]</option>>
                                                    </select>
                                                </div>

                                                <div class="mb-3">
                                                    <label for="descripcion">[[#{tienda.descripcion}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="descripcion" th:field="*{descripcion}"
                                                           required="true">
                                                </div>

                                                <div class="mb-3">
                                                    <label for="descripcion">[[#{tienda.detalle}]]</label>
                                                    <input type="text" class="form-control" name="detalle"
                                                           th:field="*{detalle}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="descripcion">[[#{tienda.precio}]]</label>
                                                    <input type="text" class="form-control" name="precio" 
                                                           th:field="*{precio}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="descripcion">[[#{tienda.existencias}]]</label>
                                                    <input type="text" class="form-control" name="existencias"
                                                           th:field="*{existencias}"
                                                           required="true">
                                                </div>

                                                <div class="mb-3">
                                                    <label for="activo">[[#{tienda.activo}]]</label>
                                                    <input class="form-check-input" 
                                                           type="checkbox" 
                                                           name="activo" 
                                                           id="activo"
                                                           th:field="*{activo}">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="imagen">[[#{tienda.Imagen}]]</label>
                                                    <input class="form-control" type="file" name="imagenFile"
                                                           onchange="readURL(this);" />
                                                    <img id="blah" th:src="@{${tienda.rutaImagen}}" alt="your image" height="200"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- 5 Fragmento que se utiliza en el fragmento anterior -->
        <section th:fragment="botonesEditar">
            <div class="container py-4 mb-4 bg-light">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/tienda/listado}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">                                
                        <a th:href="@{/tienda/eliminar/}+${tienda.idTienda}"
                           class="btn btn-danger">
                            <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> [[#{accion.guardar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
